<div class="sidebar">
  <ul>
    <li><a href="[% base_url %]/home/">Home</a></li>
    <li><a href="[% base_url %]/documentation/">Documentation</a>
      <ul>
        <li><a href="[% base_url %]/documentation/installation/">Installation</a></li>
        <li><a href="[% base_url %]/documentation/reference/">Reference</a></li>
        <li><a href="[% base_url %]/documentation/tutorial/">Tutorial</a></li>
      </ul>
    </li>
    <li><a href="[% base_url %]/contact/">Contact</a>
    <li><a href="[% base_url %]/news/">News</a></li>
  </ul>
</div>
