<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
  <title>[% title %]</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" type="image/x-icon" href="[% favicon_file || "/images/favicon.ico" %]">
  <link rel="stylesheet" href="/project-site.css" type="text/css">
  <link rel="stylesheet" href="/custom.css" type="text/css">
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/sidebar.js"></script>
</head>

<body>
<div class="page">
[% PROCESS header.html %]
<div class="bottom">
[% PROCESS sidebar.html %]
<div class="content">
<img class="photo" src="/images/chris-dent.jpg" alt="">
[% content %]
</div>
</div>
</div>
</body>

</html>
