<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>
    {% include skippy.html %}

    {% include navbar.html %}

    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        {% if page.sidebar %}
          <div class="col-md-3 col-xl-2 bd-sidebar">
            {% include sidebar.html %}
          </div>
        {% endif %}

        {% if page.toc %}
          <nav class="d-none d-xl-block col-xl-2 bd-toc" aria-label="Secondary navigation">
            {{content | toc_only}}
          </nav>
        {% endif %}

        <main class="col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
          <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
            <a class="btn btn-sm btn-bd-light my-2 my-md-0"
               href="{{site.code.repo}}/blob/{{site.code.branch}}/src/{{page.path}}"
               title="View and edit this file on GitHub"
               target="_blank"
               rel="noopener"
            >
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
            </a>
            <h1 class="bd-title" id="content">{{page.title | smartify}}</h1>
          </div>
          <p class="bd-lead">{{page.description | smartify}}</p>
          <hr/>
          {{content}}
        </main>
      </div>
    </div>

    {% include scripts.html %}
  </body>
</html>
